<div class="row">
    <div class="header input-group input-group-lg">
        <div class="col-sm-4">
            <div class="logo-app"></div>
        </div>
        <div class="col-sm-3">
            <div>
                Grupo Econômico:
            </div>

        </div>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default" type="button" (click)="exit()">Sair <i
                    class="glyphicon glyphicon-log-out"></i></button>
        </span>
    </div>
</div>