<div class="row search-bar-container">
    <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Pesquise Aqui" [(ngModel)]="selectedItem"
            [typeahead]="searchItems" [typeaheadOptionField]="'name'"
            (typeaheadOnSelect)="navigate($event); selectedItem = ''">
    </div>
    <div class="col-sm-2">
        <i class="glyphicon glyphicon-search form-control-feedback search-bar-icon"></i>
    </div>
</div>
<ul class="nav nav-stacked" *ngFor="let item of menu">
    <li>
        <a (click)="selected(item)">
            <i [class]="item.data"></i>
            <span class="menu-item">{{item.name}}</span>
            <span class="menu-selected" *ngIf="item.selected"></span>
        </a>
        <hr>
    </li>
</ul>