<!--Banner-->
<div class="loader-container panel-body" *ngIf="bannerLoading">
    <!-- <loaders-css [loader]="'ball-grid-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Saldo em Conta Corrente
            </div>
            <div class="panel-body">
                <div class="loader-container-small" *ngIf="balanceAccountLoading">
                    <!-- <loaders-css [loader]="'ball-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
                </div>
                <div *ngIf="!balanceAccountLoading" class="text-center"
                    [ngClass]="{ 'text-danger': balanceAccount?.current < 0 }">
                    {{ balanceAccount?.current || 0 | number:'1.2-2' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="displayFutureDatedTransactions">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Lançamentos Futuros
            </div>
            <div class="panel-body">
                <div class="loader-container-small" *ngIf="futureDatedTransactionLoading">
                    <!-- <loaders-css [loader]="'ball-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
                </div>
                <div *ngIf="!futureDatedTransactionLoading" class="text-center"
                    [ngClass]="{ 'text-danger': futureDatedTransaction.totalDebit < 0 }">
                    {{futureDatedTransaction.totalDebit || 0 | number:'1.2-2'}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3" *ngIf="displayInvestment">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Saldo em Investimentos
            </div>
            <div class="panel-body">
                <div class="loader-container-small" *ngIf="investmentLoading">
                    <!-- <loaders-css [loader]="'ball-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
                </div>
                <div *ngIf="!investmentLoading" class="text-center"
                    [ngClass]="{ 'text-danger': investment.valueBalance < 0 }">
                    {{ investment.valueBalance || 0 | number:'1.2-2' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Limite Cheque Especial
            </div>
            <div class="panel-body">
                <div class="loader-container-small" *ngIf="limitsLoading">
                    <!-- <loaders-css [loader]="'ball-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
                </div>
                <div *ngIf="!limitsLoading" class="text-center"
                    [ngClass]="{ 'text-danger': limits?.vlLimiteChequeEspecial < 0 }">
                    {{ limits?.vlLimiteChequeEspecial || 0 | number:'1.2-2' }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Transações Favoritas
        <i (click)="displayFavoritesModal();" class="pull-right glyphicon glyphicon-cog menu-icon"></i>
    </div>
    <div class="panel-body">
        <div class="loader-container" *ngIf="favoritesLoading">
            <!-- <loaders-css [loader]="'ball-grid-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
        </div>
        <div class="row" *ngIf="!favoritesLoading">
            <span *ngFor="let menu of menus">
                <span *ngFor="let submenu of menu.submenu">
                    <div class="col-sm-3 margin-bottom-10" *ngIf="submenu.favorite">
                        <button class="btn btn-info btn-block text-capitalize small ellipsis-text"
                            [routerLink]="[submenu.action]"
                            *ngIf="submenu.action.indexOf('http') !== 0">{{ menu.name | lowercase }}<br />{{submenu.name | lowercase}}</button>
                        <button class="btn btn-info btn-block text-capitalize small ellipsis-text"
                            (click)="openExternalLink(submenu.action)"
                            *ngIf="submenu.action.indexOf('http') === 0">{{ menu.name | lowercase }}<br />{{submenu.name | lowercase}}</button>
                    </div>
                </span>
            </span>
        </div>
    </div>
</div>
<div class="panel panel-default" *ngIf="displayPosition">
    <div class="panel-heading">
        Posição Consolidada
    </div>
    <div class="panel-body">
        <div class="loader-container" *ngIf="balanceAccountLoading">
            <!-- <loaders-css [loader]="'ball-grid-pulse'" class="full-width" [loaderClass]="'app-loader'"></loaders-css> -->
        </div>
    </div>
</div>