$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


//Bootstrap overrides
$font-family-base: "Open Sans",
sans-serif;
$headings-font-weight: 700;
$panel-default-text: #fff;
$table-bg-hover: darken(#F2F7FD, 5%) !default;
$brand-primary: #00233D !default;
$brand-secondary: #EBEBEB !default;
//Variables
$bg-color-menu: #00233D;
$color-menu: #fff;
$bg-color-content: #dedede;
$title-color: darken($brand-secondary, 30%);

$bg-color-content-light: #fff;



body {
    background-color: $bg-color-content !important;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
}



.navbar {
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0;
    scrollbar-width: thin;

    i {
        font-size: 20px;
    }

    li {
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }

    span.menu-item {
        margin-left: 10px;
    }
}

.pointer {
    cursor: pointer;
}



srm-menu {
    padding: 0;
    margin-top: 0 !important;

    .nav>li>a {
        border-left: 3px solid transparent;
        outline: 0;

        &:hover {
            background-color: darken($bg-color-menu, 5%) !important;
            border-left: 3px solid $brand-warning !important;
            color: #fff !important;
        }

        &:focus {
            background-color: transparent;
            color: #fff !important;
        }
    }

    .nav>li>hr {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid #345D7F;
    }

    i {
        color: #fff !important;
    }
}

srm-header .header {
    background: white;
    border-left: 3px solid $brand-secondary;
}

.menu-selected {
    display: none;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    position: relative;
    left: 102%;
    margin-top: -25px;
    z-index: 1;
    background-color: #ebebeb;
    display: block;
}

.menu-icon {
    font-size: 20px;
}

.submenu {
    font-size: .9em;
    background-color: darken($bg-color-menu, 3%);

    li>a {
        padding-left: 40px;
        border-left: 3px solid transparent;
    }
}

.bold {
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}


.navbar-app {
    background-color: $bg-color-menu;
    height: 100vh;
    min-height: 70px !important;
    border: 0 !important;
}


.navbar-collapse {
    padding: 0;
}

.app-container {
    height: 100vh;
    right: 22px;
    z-index: 10;
    background-color: $brand-secondary;
}

.container-fluid {
    margin-top: 10px;
}



// select {
//     width: 268px;
//     padding: 5px;
//     font-size: 16px;
//     line-height: 1;
//     border: 0;
//     border-radius: 5px;
//     height: 34px;
//     // background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
//     -webkit-appearance: none;
//     background-position-x: 244px;

// }
.custom-select {
    padding-top: 0.7em;

    label {
        font-weight: 200;
    }

    select {
        display: inline-block;
        background: url("./assets/images/down-chevron.png") no-repeat right;
        -moz-appearance: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        appearance: none;
        width: 50%;
        height: 50px;
        border-color: $brand-primary;
        background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;

        option {
            padding: 10px 0;
        }
    }
}

.navbar-app {

    a,
    h4,
    h5,
    p,
    small,
    span,
    i {
        color: $color-menu;
    }
}

.table-hover>tbody>tr:hover {
    background-color: lighten($brand-primary, 68%) !important;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}


hr {
    border-top: 1px solid $brand-primary;
}

.logo-app {
    background-image: url("./assets/images/logo.png");
    height: 50px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.icon-bar {
    background-color: #fff;
}

.navbar-brand img {
    height: 100%;
}

.search-bar-container {
    padding: 10px;
    background-color: $bg-color-content-light;
    border-bottom: 1px solid #CAD0DC;
    color: $title-color;
    height: 70px;

    input.form-control {
        padding: 1.3em .7em 0 3em;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $title-color !important;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $title-color !important;
    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: $title-color !important;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: $title-color !important;
    }

    .input-group-btn * {
        color: $title-color;
    }

    input,
    input:focus,
    button,
    button:hover,
    button:active,
    button:focus {
        border: 0;
        background-color: transparent;
        box-shadow: none;
        outline: 0;
        text-align: right;
    }
}

.search-bar-icon {
    left: -10px;
    top: 7px;
    font-size: 1.1em;
    color: $title-color !important;
}

.form-control-feedback {
    top: 8px !important;
}

.nav li {
    cursor: pointer;
}

.nav-tabs {
    border-bottom: 0;
    background-color: $panel-default-heading-bg;
    height: 50px;
    border-radius: 4px 4px 0 0;
    padding: 0 12px;
}

.nav-tabs>li>a {
    border: 0;
    top: 11px;
    color: #fff;
    margin-right: 7px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 0;
    color: $panel-default-heading-bg;
}

.nav-tabs>li>a:hover {
    background-color: $brand-primary;
}




@media (min-width: 768px) {
    .dl-horizontal.dl-custom dt {
        text-align: left;
        width: 380px;
        white-space: normal;
        font-weight: 400;
    }

    .navbar-header {
        display: none;
    }

    .navbar-fixed-side .navbar-collapse {
        border-top: 0;
    }
}

@media (max-width: 768px) {
    .container-logo {
        display: none;
    }
}


@media screen and (max-device-width: 1280px) {
    body {
        font-size: 13px;
    }

    .password-buttons>div>button {
        padding: 2px;
    }
}

//IE10 Hack
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    #password,
    .password {
        font-size: 1.5em;
    }

    .title {
        padding-bottom: 7px;
    }

    @media (min-width: 768px) {
        .login-page {
            height: 55vh;
        }
    }
}

//Mozilla Hack
@-moz-document url-prefix() {

    html {
        scrollbar-width: thin;
    }

    .nav-tabs>li>a {
        top: 10px;
    }

    select {
        color: rgba(0, 0, 0, 0) !important;
        text-shadow: 0 0 0 #000;
    }
}